body {
  font-family: "Times New Roman", Times, serif;;
  font-size: 16px;
  line-height:1.25;
  background-color: #ECECEC;
  color: #c75e44;
  margin: 48px 200px 48px 48px;
  max-width: 1140px;
}

div.statement {
  font-size:80px;
  line-height: 1.1;
}

div.statement h1 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 24px;
    margin: 0 32px 0 0;
}

div.statement p {
  margin: 64px 0 0 0;
}
